<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/header.css" rel="stylesheet">
    <link href="../css/control.css" rel="stylesheet">
    <link href="../css/personal.css" rel="stylesheet">
    <link href="../css/job_apply.css" rel="stylesheet">
    <link href="../css/job_detail.css" rel="stylesheet">
    <title>职位详情</title>
</head>
<body bgcolor="#f4f4f4">
<div class="header" style="background: #ffffff">
    <div class="width1200 align_center" style="padding-top: 14px;justify-content: space-between">
        <img src="../images/logo.png"/>
        <div style="height: 52px;line-height: 52px"><span class="city">全国</span><span class="changecity">[切换]</span></div>
        <div class="menu">
            <a href="#" class="menuactive">首页</a>
            <a  href="#">找工作</a>
            <a  href="#">实习/兼职</a>
            <a  href="#">求职保镖</a>
            <a  href="#">职场信用</a>
            <a  href="#">就业大数据</a>
        </div>
        <div class="login">
            <a href="#">登陆</a>
            <a href="#">注册</a>
            <a href="#">企业入口</a>
        </div>
    </div>
</div>
<div class="width1200 p1content">

    <div class="p1_left" style="margin-top: 10px">
        <div class="con_list">

            <!--职位详情---------------------------------------------------------------------------->
                <div class="width730" style="margin-left: 70px">
                    <div style="margin-top: 70px">
                        <span class="font34 color333">java高级工程师</span>
                        <a href="#" class="company_msgbtn">该企业信用详情</a>


                        <span class="collections">
                            <svg class="icon">
                                <use xlink:href="#icon-tishi"></use>
                            </svg>
                            举报
                        </span>



                        <span class="collections ">
                            <svg class="icon">
                                <use xlink:href="#icon-fenxiang"></use>
                            </svg>
                            分享

                        </span>

                        <span class="collections">
                            <svg class="icon">
                                <use xlink:href="#icon-shoucangguanli"></use>
                            </svg>
                            收藏
                        </span>
                    </div>
                    <div class="relative" id="sharebox">
                        <div class="share">
                                <span class="sharebtn">
                                    <svg class="icon">
                                        <use xlink:href="#icon-qq"></use>
                                    </svg>
                                </span>
                                <span class="sharebtn">
                                    <svg class="icon">
                                        <use xlink:href="#icon-weixin"></use>
                                    </svg>
                                </span>
                                <span class="sharebtn">
                                    <svg class="icon">
                                        <use xlink:href="#icon-weibo"></use>
                                    </svg>
                                </span>
                                <span class="sharebtn">
                                    <svg class="icon">
                                        <use xlink:href="#icon-pengyouquan"></use>
                                    </svg>
                                </span>
                                <span class="sharebtn">
                                    <svg class="icon">
                                        <use xlink:href="#icon-QQkongjian"></use>
                                    </svg>
                                </span>
                            <em></em><i></i>
                        </div>
                    </div>

                    <div style="margin-top: 20px">
                        <span class="jobs_salary">8K-10K</span>
                        <span class="jobs_requirement">大专及以上</span>
                        <span class="jobs_requirement">工作经验不限</span>
                        <span class="jobs_requirement">全职</span>
                        <span class="jobs_requirement">2人</span>
                        <span class="jobs_time">
                            <svg class="icon" style="font-size: 16px">
                                <use xlink:href="#icon-quanzhi"></use>
                            </svg>
                            刷新于：2017-10-3
                        </span>
                    </div>


                    <div class="color666" style="margin-top: 30px">
                        工作地点：重庆市江北区汽博中心线外城市花园
                    </div>

                    <div style="margin-top: 20px">
                        <span class="welfare_label">年终奖</span>
                        <span class="welfare_label">住房公积金</span>
                        <span class="welfare_label">带薪年假</span>
                        <span class="welfare_label">绩效奖金</span>
                        <span class="welfare_label">内部培训</span>
                        <span class="delivery_resume">投递简历</span>
                    </div>



                    <!--工作职责-->
                    <div class="jobs_detail_title">工作职责</div>

                    <div style="margin-top: 36px">
                        <div class="jobs_content">1、环保公司，环境质量预警预告平台相关业务系统开发。</div>
                        <div class="jobs_content">2、参与公司产品，业务系统的设计、开发、部署、更新工作；</div>
                        <div class="jobs_content">3、参与业务系统异常分析诊断、系统性能调优工作；</div>
                        <div class="jobs_content">4、编写定制软硬件自动化检查脚本；</div>
                        <div class="jobs_content">5、负责生产数据的备份、恢复，分析研究。</div>
                    </div>

                    <!--岗位要求-->
                    <div class="jobs_detail_title">岗位要求</div>

                    <div style="margin-top: 36px">
                        <div class="jobs_content">1、本科及以上学历，计算机专业优先考虑</div>
                        <div class="jobs_content">2、熟悉C或C++或Java，具有web开发经验，熟练使用spring，</div>
                        <div class="jobs_content">3、熟悉oracle,mysql等主流数据库，具有良好的IT操作技能和网络知识</div>
                        <div class="jobs_content">4、做事思路清晰，不急不躁</div>
                        <div class="jobs_content">5、学习能力强， 执行力强，具有挑战精神</div>
                    </div>


                    <!--面试评价-->
                    <div class="jobs_detail_title1">面试评价（3）</div>

                    <div class="jobs_detail" style="margin-top: 36px">
                        <div class="interviewter_head">
                            <div class="interviewter_header">
                                <img src="../images/resume_tx.png">
                            </div>
                            <div style="margin-top: 12px">匿名</div>
                        </div>

                        <div class="interviewter_content">
                            <div class="comment_star">
                                <span class="color999">信息真实：</span>
                                <svg class="icon colorffc549" >
                                    <use xlink:href="#icon-pingfen"></use>
                                </svg>
                                <svg class="icon colorffc549" >
                                    <use xlink:href="#icon-pingfen"></use>
                                </svg>
                                <svg class="icon colorffc549" >
                                    <use xlink:href="#icon-pingfen"></use>
                                </svg>
                                <svg class="icon colorffc549" >
                                    <use xlink:href="#icon-pingfen"></use>
                                </svg>
                                <svg class="icon colorddd">
                                    <use xlink:href="#icon-pingfenbanfen"></use>
                                </svg>
                            </div>

                            <div class="comment_star">
                                <span class="color999">公司环境：</span>
                                <svg class="icon colorffc549" >
                                    <use xlink:href="#icon-pingfen"></use>
                                </svg>
                                <svg class="icon colorffc549" >
                                    <use xlink:href="#icon-pingfen"></use>
                                </svg>
                                <svg class="icon colorffc549" >
                                    <use xlink:href="#icon-pingfen"></use>
                                </svg>
                                <svg class="icon colorffc549" >
                                    <use xlink:href="#icon-pingfen"></use>
                                </svg>
                                <svg class="icon colorddd">
                                    <use xlink:href="#icon-pingfenbanfen"></use>
                                </svg>
                            </div>

                            <div class="comment_star">
                                <span class="color999">面试官：</span>
                                <svg class="icon colorffc549" >
                                    <use xlink:href="#icon-pingfen"></use>
                                </svg>
                                <svg class="icon colorffc549" >
                                    <use xlink:href="#icon-pingfen"></use>
                                </svg>
                                <svg class="icon colorffc549" >
                                    <use xlink:href="#icon-pingfen"></use>
                                </svg>
                                <svg class="icon colorffc549" >
                                    <use xlink:href="#icon-pingfen"></use>
                                </svg>
                                <svg class="icon colorddd">
                                    <use xlink:href="#icon-pingfenbanfen"></use>
                                </svg>
                            </div>


                            <div style="margin-top: 16px">
                                <span class="welfare_label">年终奖</span>
                                <span class="welfare_label">住房公积金</span>
                                <span class="welfare_label">带薪年假</span>
                            </div>
                            <div class="color666" style="margin-top: 20px;line-height: 24px">
                                <span class="colorbbb">[面试过程]</span>
                                两个面试官一起面的，他们技术还是很nice的，就是态度更好一点就好了，一个一直在皱眉头，一个面无表情。hr态度还是非常好的，很亲切，不过面试自己没有发挥好，下次还有机会再去。
                            </div>
                            <div style="margin-top: 16px">
                                <span class="good color09c" data-id="1">
                                    <svg class="icon">
                                        <use xlink:href="#icon-zan1"></use>
                                    </svg>
                                    （351）
                                </span>
                            </div>



                        </div>




                    </div>

                    <div id="page">

                    </div>
                    <!--<div class="pages_btn" style="float: none;margin-left: 0;text-align: center">-->
                        <!--<span class="pre_page no_page">上一页</span>-->
                        <!--<span class="page select">1</span>-->
                        <!--<span class="page">2</span>-->
                        <!--<span class="page">3</span>-->
                        <!--<span class="page">4</span>-->
                        <!--<span class="page">5</span>-->
                        <!--<span class="page1">…</span>-->
                        <!--<span class="page">15</span>-->
                        <!--<span class="next_page">下一页</span>-->
                    <!--</div>-->
                </div>
            <!--职位详情end---------------------------------------------------->


        </div>
    </div>


    <div class="p1_right"  style="margin-top: 20px">


        <div class="part_one">

            <div class="company_logo" style="float: none">
                <img src="../images/qiyelogo.png" >
            </div>

            <div class="company_recruit_msg">
                <div class="font18 color333" style="margin-top: 20px">
                    重庆大风车科技有限公司
                    <svg class="icon" style="font-size: 22px;color: #09c">
                        <use xlink:href="#icon-renzheng"></use>
                    </svg>
                </div>
                <div style="margin-top: 14px"><img src="../images/surper_employer.png"></div>

                <div class="company_recruit">
                    <span class="colorbbb">公司信用</span>
                    <span class="company_recruit_result">750分</span>
                </div>

                <div class="company_recruit">
                    <span class="colorbbb">所属行业</span>
                    <span class="company_recruit_result">互联网</span>
                </div>

                <div class="company_recruit">
                    <span class="colorbbb">公司规模</span>
                    <span class="company_recruit_result">50-100人</span>
                </div>


                <div class="recruit_result">
                    <span>
                        <a href="#" class="results">5个</a>
                        <div class="color999">在招职位</div>
                    </span>

                    <span>
                        <a href="#" class="results">5条</a>
                        <div class="color999">面试评价</div>
                    </span>

                    <span>
                        <a href="#" class="results " style="color: #999">昨天</a>
                        <div class="color999">企业最近登录</div>
                    </span>
                </div>
            </div>

        </div>


        <div class="part_one">
            <div class="title-top">
                <label class="top_con">相似职位</label>
            </div>
            <div class="items_list">
                <div class="logo1">
                    <img src="../images/qiyelogo.png" class="logopic">
                </div>
                <div class="company_name">
                    <p class="job_n">Java工程师</p>
                    <p class="job_s">5-8K</p>
                    <p class="companyn nowrap">北京金三顺科技有限公司</p>
                </div>
            </div>
            <div class="items_list">
                <div class="logo1">
                    <img src="../images/qiyelogo.png" class="logopic">
                </div>
                <div class="company_name">
                    <p class="job_n">Java工程师</p>
                    <p class="job_s">5-8K</p>
                    <p class="companyn nowrap">北京金三顺科技有限公司</p>
                </div>
            </div>
        </div>
        <div class="part_one">
            <div class="title-top">
                <label class="top_con">职业导师推荐</label>
            </div>
            <div class="daoshi_list">
                <div class="img_pic">
                    <img src="../images/resume_tx.png" class="touxiang">
                </div>
                <p class="dsname">马化腾<label class="zhiwei">项目总监</label></p>
                <p class="miaoshu">高级营销总监</p>
                <p class="miaoshu">2015内地最佳CEO</p>
                <p class="miaoshu">全球30位最佳CEO上榜</p>
            </div>
            <div class="daoshi_list">
                <div class="img_pic">
                    <img src="../images/resume_tx.png" class="touxiang">
                </div>
                <p class="dsname">马化腾<label class="zhiwei">项目总监</label></p>
                <p class="miaoshu">高级营销总监</p>
                <p class="miaoshu">2015内地最佳CEO</p>
                <p class="miaoshu">全球30位最佳CEO上榜</p>
            </div>
            <div class="daoshi_list">
                <div class="img_pic">
                    <img src="../images/resume_tx.png" class="touxiang">
                </div>
                <p class="dsname">马化腾<label class="zhiwei">项目总监</label></p>
                <p class="miaoshu">高级营销总监</p>
                <p class="miaoshu">2015内地最佳CEO</p>
                <p class="miaoshu">全球30位最佳CEO上榜</p>
            </div>
        </div>

    </div>


    <!--举报-->
    <div class="modalbox" id="modalbox" style="display: none;">
        <div class="modal" style="width: 496px;margin-left: -248px;height: auto;padding-bottom: 20px">
            <span class="modalclose">
                <img src="../images/close.png"/>
            </span>
            <p class="title_content" style="margin-top: 34px">举报该职位</p>
            <p class="color666" style="margin-top: 34px;text-align: center">若你发现本职位存在违规现象，欢迎举报</p>

            <div style="margin-left: 40px;margin-top: 34px">
                <span class="color666">举报原因</span>
                <div class=" relative general-select " style="float: none">
                    <label class="general-input relative general-select" style="float: none;width: 330px">
                        <input class="relative" type="text" readonly=""  name="company_scale" value="实际与描述不符" style="width: 310px;z-index: 10">
                        <svg class="icon inputicon" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-xiala" class="colorbbb"></use>
                        </svg>
                    </label>
                    <div class="options" style="width: 332px;top:48px">
                        <div class="select-option" style="width: 330px"><span>培训机构</span></div>
                        <div class="select-option" style="width: 330px"><span>实际与描述不符</span></div>
                    </div>
                </div>
            </div>


            <div style="margin-left: 40px;margin-top: 34px">
                <span class="color666" style="float: left">详细描述</span>
                <div class="cwfreg4content" style="display: inline-block;margin-left: 24px;height: 120px;border: 1px solid #f5f5f5;width: 330px;background-color: #f5f5f5">
                    <textarea   class="cwftextarea" id="companymsg_introduce"  placeholder="请输入详细描述"></textarea>
                </div>
                <input type="hidden" name="report_content" id="companymsg_introduceinput">


            </div>


            <div class="person_changes"  style="margin-top: 30px;text-align: center">
                <span class="savebtn public_bigbtn bg1aa" id="save_company_nomsg" style="padding: 0 30px 0 30px">提交</span>
                <span class="cancelbtn" style="margin-left: 30px;color: #09c;cursor: pointer">取消</span>
            </div>


        </div>
    </div>
    <!--举报-->

</div>



</body>
<script src="../js/jquery.js" rel="script"></script>
<script src="../js/iconfont.js" rel="script"></script>
<script src="../js/formdata.js" rel="script"></script>
<script src="../js/control.js" rel="script"></script>
<script src="../js/job_detail.js" rel="script"></script>

<script>
$(function () {

    //举报提交
    $.fromdata("#modalbox","test.php","#save_company_nomsg",function(data){
        //do something
    })
    $(".collections").eq(2).on("click",function(){
        hint("success","收藏成功。");
        setTimeout(function(){$(".promptbox").remove()},2000);
    })


    $("#page").html(pages(1,7));


})
</script>
</html>