<div class="con_top">
    <div class="items">
        <a class="items_yuan itemm1" href="{php echo app_url('company/resume/received_resume')}">
            <svg class="icon icon_item" aria-hidden="true">
                <use xlink:href="#icon-jianliguanli"></use>
            </svg>
        </a>
        <a class="title_items" href="{php echo app_url('company/resume/received_resume')}">
            <p class="span">简历管理</p>
            <p class="item_beizhu">管理收到、收藏的简历</p>
        </a>
    </div>
    <div class="items">
        <a class="items_yuan itemm2" href="{php echo app_url('company/index/job_manage')}">
            <svg class="icon icon_item" aria-hidden="true">
                <use xlink:href="#icon-zhiweiguanli"></use>
            </svg>
        </a>
        <a class="title_items" href="{php echo app_url('company/index/job_manage')}">
            <p class="span">职位管理</p>
            <p class="item_beizhu">编辑职位、新增职位</p>
        </a>
    </div>
    <div class="items">
        <a class="items_yuan itemm3" href="{php echo app_url('company/index/manage_resume')}">
            <svg class="icon icon_item" aria-hidden="true">
                <use xlink:href="#icon-HRgongzuo"></use>
            </svg>
        </a>
        <a class="title_items" href="{php echo app_url('company/index/manage_resume')}">
            <p class="span">HR工作</p>
            <p class="item_beizhu">面试日程、职位搜索</p>
        </a>
    </div>
    <div class="items">
        <a class="items_yuan itemm4" href="{php echo app_url('company/company_profile')}">
            <svg class="icon icon_item" aria-hidden="true">
                <use xlink:href="#icon-gongsixinxi"></use>
            </svg>
        </a>
        <a class="title_items" href="{php echo app_url('company/company_profile')}">
            <p class="span">公司信息</p>
            <p class="item_beizhu">编辑、修改公司信息</p>
        </a>
    </div>
</div>